<div style="padding:4%;margin-left:8%">
    <div (click)="getSeatInfo()" class="card" style="cursor:pointer;display:inline-block; margin:2rem;width: 14rem; height: 10rem; background-color:#00CED1">
        <div class="card-body">
            <i class="fa fa-wheelchair fa-4x" style="color: #fff ;justify-content: center;display: flex"></i>
            <br><span style="font-size:150%;color:#fff;font-weight:400;justify-content: center;display:flex;">Seat</span>
        </div>
      </div>
      <div class="card" style="display:inline-block; margin:2rem;width: 14rem; height: 10rem; background-color:#00CED1">
        <div class="card-body">
            <i class="fa fa-cogs fa-4x" style="color: #fff ;justify-content: center;display: flex"></i>
            <br><span style="font-size:150%;color:#fff;font-weight:400;justify-content: center;display:flex;">Assistant</span>

        </div>
      </div>
      <div class="card" style="display:inline-block; margin:2rem;width: 14rem; height: 10rem; background-color:#00CED1">
        <div class="card-body">
          <i class="fa fa-product-hunt fa-4x" style="color: #fff ;justify-content: center;display: flex"></i>
          <br><span style="font-size:150%;color:#fff;font-weight:400;justify-content: center;display:flex;">Parking</span>

        </div>
      </div>
      <div class="card" style="display:inline-block; margin:2rem;width: 14rem; height: 10rem; background-color:#00CED1">
        <div class="card-body">
         <i class="fa fa-comment fa-4x" style="color:#fff ;justify-content: center;display: flex"></i>
         <br><span style="font-size:150%;color:#fff;font-weight:400;justify-content: center;display:flex;">Hi ! Colleague</span>

        </div>
      </div>
      <div class="card" style="display:inline-block; margin:2rem;width: 14rem; height: 10rem; background-color:#00CED1">
        <div class="card-body">
            <i class="fa fa-user fa-4x" style="color: #fff ;justify-content: center;display: flex"></i>
            <br><span style="font-size:150%;color:#fff;font-weight:400;justify-content: center;display:flex;">Profile</span>

        </div>
      </div>
      <div class="card" style="display:inline-block; margin:2rem;width: 14rem; height: 10rem; background-color:#00CED1">
        <div class="card-body">
          <i class="fa fa-recycle fa-4x" style="color: #fff ;justify-content: center;display: flex"></i>
          <br><span style="font-size:150%;color:#fff;font-weight:400;justify-content: center;display:flex;">Others</span>

        </div>
      </div>
      <div class="card" style="display:inline-block; margin:2rem;width: 14rem; height: 10rem; background-color:#00CED1">
        <div class="card-body">
         <i class="fa fa-map-marker fa-4x" style="color: #fff ;justify-content: center;display: flex"></i>
         <br><span style="font-size:150%;color:#fff;font-weight:400;justify-content: center;display:flex;">Meeting Room</span>

        </div>
      </div>
      <div class="card" style="display:inline-block; margin:2rem;width: 14rem; height: 10rem; background-color:#00CED1">
        <div class="card-body">
          <i class="fa fa-address-book fa-4x" style="color: #fff ;justify-content: center;display: flex"></i>
          <br><span style="font-size:150%;color:#fff;font-weight:400;justify-content: center;display:flex;">Colleagues</span>

        </div>
      </div>
</div>
